<!doctype html>
<html lang="en">
<head super-bs4-add-meta-and-links="true">
    <title>Hello, world!</title>
</head>
<body super-bs4-add-scripts="true" style="margin:10px">
    @RenderBody()
</body>
</html>