@{
    Layout = "_EmptyLayout";
}
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="#" class="dropdown-item">Dropdown Item 1</a>
                    <a href="#" class="dropdown-item">Dropdown Item 2</a>
                    <a href="#" class="dropdown-item">Dropdown Item 3</a>
                </div>
            </li>
        </ul>
        <ul class="nav-item navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Welcome, @RequestHttpContext.CurrentUserLabel
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-controller="XXYXXUserUpdatePassword" asp-action="Detail" asp-route-id="@RequestHttpContext.CurrentUserId">Change Password</a>
                    <a class="dropdown-item" asp-controller="Auth" asp-action="LogOut">Sign Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<br />
<div id="body">
    @RenderBody()
</div>